a {color:#065397; text-decoration:none; }
a:hover{color:#FF9900; text-decoration:none;}
.menu
{
FONT-FAMILY:tahoma;
FONT-SIZE:14px;
font-weight:bold;
 
}
.header
{
FONT-FAMILY:tahoma;
FONT-SIZE:14px;
font-weight:bold;
 
}
.subheader
{
FONT-FAMILY:tahoma;
FONT-SIZE:12px;
font-variant:inherit;
font-weight:bold;
 
}
.content
{
COLOR:#666666;
FONT-FAMILY:tahoma;
FONT-SIZE:12px;
font-variant:inherit;
 
}

.linkcontent
{
COLOR:#666666;
FONT-FAMILY:tahoma;
FONT-SIZE:12px;
font-variant:inherit;
 
}

.linkcontent:hover{color:black; text-decoration:underline; }

.linkmark
{
COLOR:red;
FONT-FAMILY:tahoma;
FONT-SIZE:12px;
font-variant:inherit;
 
}
.linkmark:hover{color:red; }


.refcontent
{
COLOR:#666666;
FONT-FAMILY:tahoma;
FONT-SIZE:10px;
font-variant:inherit;
 
}




